.container {
    position: relative;
    border: 3px solid var(--secondary);
    width: 50%;
    border-radius: 25px;
    padding: 0px 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shake {
    animation: shake 0.1s forwards;
}

.star {
    font-size: var(--font-title);
    color: var(--secondary-dark);
}

/* Animation */
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
    66% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
